<a href="https://colab.research.google.com/github/seyifunmi11/seyifunmi11/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
universe_age = 14_000_000_000
print(universe_age)
print("Hello Python people!")
#get a list of first name
my_firstname = ("john","seun","tosin","chinedu","eniola")
# get a list of last name
my_lastname = ("babcock","General","Hospital")
print

14000000000
Hello Python people!

In [4]:
my_firstname = ["john","seun","tosin","chinedu","eniola"]
my_lastname = ["babcock","General","Hospital","University","Lagos"]
for first_name in my_firstname:
    for last_name in my_lastname:
        print(f"{first_name} {last_name}")

john babcock
john General
john Hospital
john University
john Lagos
seun babcock
seun General
seun Hospital
seun University
seun Lagos
tosin babcock
tosin General
tosin Hospital
tosin University
tosin Lagos
chinedu babcock
chinedu General
chinedu Hospital
chinedu University
chinedu Lagos
eniola babcock
eniola General
eniola Hospital
eniola University
eniola Lagos

In [11]:
my_firstname = ["john","seun","tosin","chinedu","eniola"]
my_lastname = ["babcock","General","Hospital","University","Lagos"]
fullname=[]
if len(my_firstname) == len(my_lastname):
 for i in range(len(my_firstname)):
  for j in range(len(my_lastname)):
    print(f""+ fullname.append(my_firstname[i] + " " + my_lastname[j]))

TypeError: can only concatenate str (not "NoneType") to str

In [8]:
set1 = {"Alice", "Bob", "Charlie", "David", "Eva"}
set2 = {"Frank", "Grace", "Hannah", "Ivy", "Jack"}
# Combining the two sets
combined_set = set1.union(set2)
# Printing the combined set
print(combined_set)

my_name = "John"
score = 40
if score > 90:
    print ("Grade A")
elif score >= 80:
    print ("Grade B")
elif score >= 70:
    print ("Grade C")
elif score >= 60:
    print ("Grade D")
elif score >= 50:
    print ("Grade E")
else:
    print (my_name +" "+ ("Kindly put more effort next time"))

{'David', 'Hannah', 'Eva', 'Bob', 'Charlie', 'Jack', 'Frank', 'Ivy', 'Alice', 'Grace'}
John Kindly put more effort next time

In [9]:
# Lists of first names and last names
first_names = ["Alice", "Bob", "Charlie", "Diana", "Eve"]
last_names = ["Smith", "Johnson", "Williams", "Brown", "Jones"]

# Ensure the lists are of the same length
if len(first_names) == len(last_names):
    # Loop through each index and print the corresponding first name and last name
    for i in range(len(first_names)):
        print(f"{first_names[i]} {last_names[i]}")
else:
    print("The lists of first names and last names are not of the same length.")

Alice Smith
Bob Johnson
Charlie Williams
Diana Brown
Eve Jones

In [14]:
my_firstname = ["john", "seun", "tosin", "chinedu", "eniola"]
my_lastname = ["babcock", "General", "Hospital", "University", "Lagos"]
fullname = []

# Manually specify the desired pairs using indices
desired_pairs = [(0, 3), (1, 1), (2, 0), (3, 2), (4, 4)]

for first_idx, last_idx in desired_pairs:
    # Combine the first name and last name using the specified indices
    full_name = my_firstname[first_idx] + " " + my_lastname[last_idx]
    # Append the full name to the list
    fullname.append(full_name)
    # Print the full name
    print(full_name)

john University
seun General
tosin babcock
chinedu Hospital
eniola Lagos